In [4]:
company_name_list = [{'name': 'Company 1'},
          {'name': 'Company 2'},
          {'name': 'Company 3'}]

employee_name_list = [{'name': 'John Doe'},
          {'name': 'Tom Smith'},
          {'name': 'Andrew Sebastian'}]

company_detail_list = {
      'Company 1': {
          'name': 'Company 1',
          'domain': 'Retail',
          'clients': [
              {
                  'name': 'acme.inc',
                  'country': 'united states'
              },
              {
                  'name': 'Wayne.co',
                  'country': 'united states'
              }
          ]
      },
      'Company 2': {
          'name': 'Company 2',
          'domain': 'Construction',
          'clients': [
              {
                  'name': 'Tesla',
                  'country': 'united states'
              },
              {
                  'name': 'Japan Airlines',
                  'country': 'japan'
              },
              {
                  'name': 'Indofood',
                  'country': 'indonesia'
              }
          ]
      },
      'Company 3': {
          'name': 'Company 3',
          'domain': 'Healthcare',
          'clients': [
              {
                  'name': 'Petronas',
                  'country': 'malaysia'
              },
              {
                  'name': 'VW Group',
                  'country': 'germany'
              },
              {
                  'name': 'IBM',
                  'country': 'united states'
              },
              {
                  'name': 'Mitsubishi',
                  'country': 'japan'
              }
          ]
      }
  }

employee_detail_list = {
      'John Doe': {
          'name': 'EMP-0001',
          'first_name': 'John',
          'last_name': 'Doe',
          'full_name': 'John Doe',
          'company': 'Company 1'
      },
      'Tom Smith': {
          'name': 'EMP-0002',
          'first_name': 'Tom',
          'last_name': 'Smith',
          'full_name': 'Tom Smith',
          'company': 'Company 2'
      },
      'Andrew Sebastian': {
          'name': 'EMP-0003',
          'first_name': 'Andrew',
          'last_name': 'Sebastian',
          'full_name': 'Andrew Sebastian',
          'company': 'Company 2'
      },
  }

In [5]:
company_name_list = [{'name': 'Company 1'},
          {'name': 'Company 2'},
          {'name': 'Company 3'}]

employee_name_list = [{'name': 'John Doe'},
          {'name': 'Tom Smith'},
          {'name': 'Andrew Sebastian'}]

company_detail_list = {
      'Company 1': {
          'name': 'Company 1',
          'domain': 'Retail',
          'clients': [
              {
                  'name': 'acme.inc',
                  'country': 'united states'
              },
              {
                  'name': 'Wayne.co',
                  'country': 'united states'
              }
          ]
      },
      'Company 2': {
          'name': 'Company 2',
          'domain': 'Construction',
          'clients': [
              {
                  'name': 'Tesla',
                  'country': 'united states'
              },
              {
                  'name': 'Japan Airlines',
                  'country': 'japan'
              },
              {
                  'name': 'Indofood',
                  'country': 'indonesia'
              }
          ]
      },
      'Company 3': {
          'name': 'Company 3',
          'domain': 'Healthcare',
          'clients': [
              {
                  'name': 'Petronas',
                  'country': 'malaysia'
              },
              {
                  'name': 'VW Group',
                  'country': 'germany'
              },
              {
                  'name': 'IBM',
                  'country': 'united states'
              },
              {
                  'name': 'Mitsubishi',
                  'country': 'japan'
              }
          ]
      }
  }

employee_detail_list = {
      'John Doe': {
          'name': 'EMP-0001',
          'first_name': 'John',
          'last_name': 'Doe',
          'full_name': 'John Doe',
          'company': 'Company 1'
      },
      'Tom Smith': {
          'name': 'EMP-0002',
          'first_name': 'Tom',
          'last_name': 'Smith',
          'full_name': 'Tom Smith',
          'company': 'Company 2'
      },
      'Andrew Sebastian': {
          'name': 'EMP-0003',
          'first_name': 'Andrew',
          'last_name': 'Sebastian',
          'full_name': 'Andrew Sebastian',
          'company': 'Company 2'
      },
  }

def sort_company():
    company_names = [company['name'] for company in company_name_list]

    sorted_company_names = sorted(company_names)

    print("Daftar Perusahaan yang Telah Diurutkan:")
    for company_name in sorted_company_names:
        print(company_name)

sort_company();

Daftar Perusahaan yang Telah Diurutkan:
Company 1
Company 2
Company 3

In [9]:
def get_company_domain(company_name):
    company_detail = company_detail_list.get(company_name)
    if company_detail:
        return company_detail['domain']
    else:
        return "Perusahaan tidak ditemukan."

company_name = "Company 3"
company_domain = get_company_domain(company_name)
print("Domain dari", company_name, "adalah:", company_domain)

Domain dari Company 3 adalah: Healthcare

In [14]:
def get_employees():
    result = []

    for employee_name, employee_detail in employee_detail_list.items():
        full_name = employee_detail['full_name']
        company_name = employee_detail['company']

        company_domain = company_detail_list[company_name]['domain']

        result.append({
            "full_name": full_name,
            "company": company_name,
            "domain": company_domain
        })

    return result

get_employees()

[{'full_name': 'John Doe', 'company': 'Company 1', 'domain': 'Retail'},
 {'full_name': 'Tom Smith', 'company': 'Company 2', 'domain': 'Construction'},
 {'full_name': 'Andrew Sebastian',
  'company': 'Company 2',
  'domain': 'Construction'}]

In [12]:
def get_employees_by_company():
    result = []

    for company_info in company_name_list:
        company_name = company_info['name']
        employees = []

        for employee_name, employee_detail in employee_detail_list.items():
            if employee_detail['company'] == company_name:
                employees.append(employee_name)

        result.append({
            "company": company_name,
            "employees": employees
        })

    return result

get_employees_by_company()

[{'company': 'Company 1', 'employees': ['John Doe']},
 {'company': 'Company 2', 'employees': ['Tom Smith', 'Andrew Sebastian']},
 {'company': 'Company 3', 'employees': []}]

In [11]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder, OneHotEncoder, StandardScaler

data_startup = pd.read_csv('50_Startups.csv')

startup_table = data_startup[['R&D Spend', 'Administration', 'Marketing Spend', 'State', 'Profit']]

print(startup_table.sample(7))

data_hilang = startup_table.isnull().sum()
print("Data yang kosong (NaN):")
print(data_hilang)

startup_table[['R&D Spend', 'Administration', 'Marketing Spend', 'Profit']] = startup_table[['R&D Spend', 'Administration', 'Marketing Spend', 'Profit']].fillna(startup_table[['R&D Spend', 'Administration', 'Marketing Spend', 'Profit']].mean())

label_encoder = LabelEncoder()
startup_table['State'] = label_encoder.fit_transform(startup_table['State'])

onehot_encoder = OneHotEncoder()
encode = onehot_encoder.fit_transform(startup_table[['State']])
endcode_df = pd.DataFrame(encode.toarray(), columns=label_encoder.classes_)
startup_table = pd.concat([startup_table, endcode_df], axis=1)
startup_table.drop('State', axis=1, inplace=True)

startup_table['Tax'] = (startup_table['Profit'] + startup_table['Marketing Spend'] + startup_table['Administration']) * 0.05

scaler = StandardScaler()
kolom = ['R&D Spend', 'Administration', 'Marketing Spend', 'Profit', 'Tax']
startup_table[kolom] = scaler.fit_transform(startup_table[kolom])

print("Data setelah pre-processing:")
print(startup_table.head())

    R&D Spend  Administration  Marketing Spend       State     Profit
25   64664.71       139553.16        137962.62  California  107404.34
20   76253.86       113867.30        298664.47  California  118474.03
38   20229.59        65947.93              NaN    New York   81229.06
9   123334.88       108679.17        304981.62  California  149759.96
3   144372.41       118671.85        383199.62    New York  182901.99
21   78389.47       153773.43        299737.29    New York  111313.02
34   46426.07       157693.92        210797.67  California   96712.80
Data yang kosong (NaN):
R&D Spend          5
Administration     3
Marketing Spend    5
State              0
Profit             2
dtype: int64
Data setelah pre-processing:
   R&D Spend  Administration  Marketing Spend    Profit  California  Florida  \
0   2.076351        0.554318         2.299248  2.024298         0.0      0.0
1   2.011840        1.123258         2.040926  2.012472         1.0      0.0
2   1.797168       -0.850460         1.707769  1.993801         0.0      1.0
3   1.584537       -0.161817         1.478634  1.788670         0.0      0.0
4   1.531431       -1.233706         1.320863  1.367903         0.0      1.0

   New York       Tax
0       1.0  2.460946
1       0.0  2.361311
2       0.0  1.737043
3       1.0  1.626770
4       0.0  1.188570